name: Cache CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  cache-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache_step
        uses: actions/cache@v4
        with:
          path: ~/.cache/demo
          key: cache-ecb605f

      - name: Write cache content
        run: |
          mkdir -p ~/.cache/demo
          echo "demo data" > ~/.cache/demo/data.txt

      - name: prime-cache-ecb605f
        run: |
          echo "Cache hit: ${{ steps.cache_step.outputs.cache-hit }}"
